{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Farmer's Market Details</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'farmersrestaurants/styles.css' %}">
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Farmer's Market Details</h1>
        <ul>
            {% for key, value in fm.items %}
                <li><strong>{{ key }}:</strong> {{ value }}</li>
            {% endfor %}
        </ul>
        <button onclick="goBack()">Go Back</button>
    </div>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <a href="{% url 'index' %}"><button>Go Back to Main Page</button></a>
</body>
</html>
